
<div class="col">
  <div class="card-body">
      <div class="form-group">
          <label class="card-title" for="name">Meu nome é</label>
          <br><br/>
          <input type="text" class="input" id="name" [(ngModel)]="name" placeholder="Insira seu nome" />
          <br><br/>
          <label class="card-title" for="action">E eu vou</label>
          <br><br/>
      </div>
      <div class="form-group">
          <button swiftButton type="button" (click)="createRoom()">Criar sala</button>
          <br />
          <button swiftButton type="button" (click)="joinRoom()">Entrar em uma sala</button>
      </div>
  </div>
</div>
