<swift-container>
    <swift-flex mainAxis="column" justify="center" align="center" gap="12">
        <h1>Meu nome é</h1>
        <swift-form-field *ngIf="usernameControl">
            <input
                type="text"
                placeholder="Nome de Usuário"
                [formControl]="usernameControl"
                (blur)="onUsernameInputBlur()"
            />
            <swift-form-field-error *ngIf="usernameControl?.touched && usernameControl?.errors?.['required']">
                O nome de usuário é <strong>obrigatório</strong>
            </swift-form-field-error>
            <swift-form-field-error *ngIf="usernameControl?.errors?.['maxlength']">
                Máximo de <strong>20 caracteres</strong>
            </swift-form-field-error>
        </swift-form-field>
        <h1>e eu vou</h1>
        <swift-flex *ngIf="isUser$ | async as isUser" mainAxis="column" justify="center" align="center" gap="8">
            <a swiftButton [routerLink]="isUser ? '/room' : null">Criar uma sala</a>
            <a swiftButton [routerLink]="isUser ? '/code' : null">Entrar em uma sala</a>
        </swift-flex>
    </swift-flex>
</swift-container>