div.snackbar {
  width: clamp(120px, 90%, 320px);
  max-height: 20%;
  padding: 1rem 1.5rem;
  position: fixed;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--purple-tertiary);
  border-radius: 0.25rem;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: 0.2s;
  z-index: 100;
}

div.snackbar:hover {
  background-color: var(--purple-primary);
  transition: 0.2s;
}

div.snackbar > p {
  font-size: 0.875rem;
  font-weight: 400;
  color: white;
}
