<swift-flex mainAxis="column" justify="center" align="center" gap="16">
    <h2>Mais pessoa podem entrar na conversa via</h2>
    <swift-flex mainAxis="row" justify="space-between" align="center" gap="12">
        <div class="share-info">
            <span class="qr-code"></span>
            <p>QR Code</p>
        </div>
        <div class="share-info">
            <span class="code"></span>
            <p>Swift Code</p>
        </div>
        <div class="share-info">
            <span class="link"></span>
            <p>Link do Chat</p>
        </div>
    </swift-flex>
</swift-flex>