* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
}

:root {
    --purple-primary: #845EF7;
    --purple-secondary: #5F3DC4;
    --purple-tertiary: #D0BFFF;

    --gray-darker: #212529;
    --gray-light: #CED4DA;
    --gray-lighter: #F8F9FA;
}