.card {
  width: 96px;
  height: 96px;
  border-radius: 10px;
  background-color: #845ef7;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color:#F8F9FA

}

.card-content {
  width: 64px;
  height: 80px;
  position: absolute;
  top: 8px;
  left: 16px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.title {
  font-family: Geometry Soft Pro, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #212529;
}
