<body>
  <header>
    <button class="header-button" (click)="onClickShare()">
      <img src="assets/icons/Info.png" alt="Info"  />
    </button>
    Sala de Prof. Fábio
    <button class="header-button" (click)="onClickExit()">
      <img src="assets/icons/Logout.png" alt="Sair" />
    </button>
  </header>
  <br />

  <div class="chat-container">
    <div *ngFor="let message of messages">
      <p class="chat-{{ isSender(message) ? 'sender' : 'received' }}">{{ message.author.name }}</p>
      <div [ngClass]="{
        'chat-message-sended': isSender(message),
        'chat-message-received': !isSender(message)
      }">
        <div class="message-wrapper">
          <p class="chat-text">{{ message.message }}</p>
          <p class="chat-time">{{ message.id }}</p>
        </div>
      </div>
    </div>
  </div>
  
  

  <div class="input-container">
    <input class="input" type="text" placeholder="Digite aqui..." [(ngModel)]="newMessage" />
    <button class="input-button" (click)="sendMessage()">
      <img src="/assets/icons/Send.png" alt="Enviar" />
    </button>
  </div>
</body>
