body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

header {
  width: 360px;
  height: 51px;
  padding: 13px 12px;
  gap: 10px;
  background-color: #845ef7;
  font-family: Geometry Soft Pro;
  font-size: 24px;
  font-weight: 705;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #f8f9fa;
}

.header-button {
  background-color: #845ef7;
  border: none;
  cursor: pointer;
}

.chat-container {
  width: 300px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: scroll;
}

.chat-message-sended {
  display: inline-block;
  position: left;
  background-color: #7048e8;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #212529;
  padding: 5px;
  text-align: left;
}

.chat-message-received {
  display: inline-block;
  position: left;
  background-color: #ced4da;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #212529;
  padding: 5px;
  text-align: left;
}

.chat-sender {
  font-weight: bold;
  margin-bottom: 5px;
  width: 36px;
  right: 24px;
  font-size: 8px;
  margin-top: 10px;
}

.chat-received {
  font-weight: bold;
  margin-bottom: 5px;
  width: 36px;
  left: 24px;
  font-size: 8px;
  margin-top: 10px;
}

.chat-content {
  background-color: #ced4da;
  padding: 5px;
}

.chat-time {
  font-size: 12px;
  color: gray;
  text-align: right;
}

.input-container {
  width: 320px;
  height: 40px;
  margin-top: 10px;
  background-color: #7048e8;
}

.input-button {
  position: absolute;
  margin-top: 10px;
  border: none;
  background-color: #7048e8;
  cursor: pointer;
}

.message-wrapper {
  display: inline-block;
}

input[type="text"] {
  width: 269px;
  height: 22px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 6px;
  margin-left: 5px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
}
