<body>
  <header>Sala de Prof. Fábio</header>
  <br />

  <div class="chat-container">
    <p class="chat-received">Professor</p>
    <div class="chat-message-sended">
      <p class="chat-text">Lorem Ipsum Portum Onseon</p>
      <p class="chat-time">12:22</p>
    </div>
    <p class="chat-sender">João</p>
    <div class="chat-message-received">
      <p class="chat-text">Lorem Ipsum Portum Onseon</p>
      <p class="chat-time">12:22</p>
    </div>
    <p class="chat-received">Professor</p>
    <div class="chat-message-sended">
      <p class="chat-text">Lorem Ipsum sit dolor amet</p>
      <p class="chat-time">12:22</p>
    </div>
  </div>

  <div class="input-container">
    <input type="text" placeholder="Digite aqui..." />
  </div>
</body>
